{$DOMAIN} {
	reverse_proxy {$PROXY_BACKEND}:{$PROXY_PORT} {
		header_down Strict-Transport-Security max-age=31536000;
	}
}
{$LETTA_DOMAIN} {
    reverse_proxy {$LETTA_BACKEND}:8283 {
        header_down Strict-Transport-Security max-age=31536000;
    }
}
